* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --firstprimarycolor: #ffffff;
    --navBackground: #ffe2e2;
    --navTextColor: #000000;
    --navTextHover: #cfcfcf;
    --navboxshadow: rgba(0, 0, 0, .07);

    --mainTextcolor: #fff;
    --mainlogocolor: #000000;

    --servicesBackground: #2e9400;
    --servicesTextcolor: rgb(255, 255, 255);
    --servicesTextspancolor: rgb(255, 213, 0);

    --shadow: rgba(0, 0, 0, 0.511);

    --aboutbackground: rgb(233, 233, 233);
    --aboutContent: rgb(233, 233, 233);
    --abouth2: black;
    --aboutp: black;
}

.night-theme {
    --firstprimarycolor: #000000;
    --navBackground: #000;
    --navTextColor: #ffffff;
    --navTextHover: #ffea00;
    --mainTextcolor: #ffffff;
    --mainlogocolor: #ffffff;

    --mainTextcolor: #fff;

    --servicesBackground: #2e9400;
    --servicesTextcolor: rgb(255, 255, 255);
    --servicesTextspancolor: rgb(255, 247, 0);

    --shadow: rgba(255, 255, 255, 0.511);

    --aboutbackground: rgb(0, 0, 0);
    --aboutContent: rgb(0, 0, 0);
    --abouth2: rgb(255, 255, 255);
    --aboutp: rgb(255, 255, 255);
}


section {
    width: 100%;
    height: 170vh;
    background-color: var(--aboutbackground);
}

.head {
    background-color: var(--aboutbackground);
}

a {
    text-decoration: none;
}

.navbar {
    z-index: 5;
    top: 0;
    margin-left: 1.5vw;
    margin-top: 1rem;
    position: absolute;
    width: 90vw;
    height: 100px;
    background-color: var(--navBackground);
    box-shadow: 10px 10px 12px 0 var(--navboxshadow);
    border-radius: 4px 4px 1rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3rem;
    list-style-type: none;
}

.logo {
    margin-right: auto;
    font-size: 1.2rem;
    color: dimgray;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3), -2px -2px 4px rgba(255, 255, 255, 1);
}

.navigation {

    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    top: 0;
    left: 0;

    li {
        margin: 0 1rem;
        padding: 0.5rem 1.5rem;
        border: 2px solid rgba(255, 255, 255, .3);
        box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, .1), -4px -4px 6px rgba(255, 255, 255, 1);
        border-radius: 10px;
        cursor: pointer;
        transition: color 0.2s ease-out, transform 0.2s ease-out;
        color: dimgray;

        &:hover {
            transform: scale(1.05);
            box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .1), -4px -4px 10px rgba(255, 255, 255, 1);
        }

        &:focus {
            transform: scale(0.95);
            box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .1), -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px 0 rgba(0, 0, 0, .1) inset, -4px -4px 10px rgba(255, 255, 255, 1) inset;
        }

        &:hover,
        &:focus {
            color: orangered;
        }
    }
}

.responsive {

    display: none;
}



/* ****************************************************************************** */
.main {
    z-index: 10;
    position: relative;
    width: 40vw;
    height: 130vh;
    display: flex;
    background: #ecf0f3;
    justify-content: center;
    flex-direction: column;
    top: 22vh;
    left: 30vw;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;


    img {
        height: 30vh;
        width: 30vw;
        border-radius: 2rem;
    }

    h2 {
        margin-top: 1rem;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}

/* ****************************************************************************** */
footer {
    position: relative;
    background-color: #ffffff00;
    color: #000000;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}

.flex-item {
    flex: 0 0 auto;
}

.grow {
    flex: 1;
}

.col-show {
    position: fixed;
    top: 17px;
    left: 211px;
    background-color: #ffe2e2;
    width: 1px;
    height: 1px;
    border-radius: 2rem;
}

.col-remove {
    display: none;
}

/* afaw****************************** */
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    p {
        width: 90%;
        font-weight: 500;
        font-size: 1rem;
        padding: 5px 10px;
        margin-bottom: 1rem;

    }

    .crop-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 24vw;
        border: 1px solid #ddd;
        overflow: hidden;
        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
            -9px -9px 16px rgba(255, 255, 255, 0.6);
        border-radius: 1rem;
    }

    .row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 5px;
        transition: transform 1s ease-in-out;
    }

    .row:hover {
        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
            -9px -9px 16px rgba(255, 255, 255, 0.6);

        h3,
        p {
            transform: scale(1.02);
        }
    }

    .row:after {

        box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
            -9px -9px 16px rgba(255, 255, 255, 0.6);
        z-index: -1;
    }

    .row h3,
    .row p {
        display: table-cell;
        padding: 5px 10px;
        border-bottom: 1px solid #ddd;

    }

    .row h3 {
        margin: 0;
        width: 40%;
        text-align: right;
    }

    .row p {
        margin: 0;
        width: 50%;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }


}



























@media only screen and (max-width: 600px) {


    section {
        height: 160vh;
    }


    .col-show {
        position: fixed;
        top: 17px;
        left: 211px;
        background-color: #ffe2e2;
        width: 171px;
        height: 425px;
        border-radius: 2rem;
    }

    .navbar {
        z-index: 15;
        top: 0;
        margin-left: 2vw;
        margin-top: 1rem;
        position: absolute;
        width: 88vw;
        height: 50px;
        background-color: var(--navBackground);
        box-shadow: 10px 10px 12px 0 var(--navboxshadow);
        border-radius: 4px 4px 1rem 1rem;
        display: flex;
        justify-content: flex-end;
        padding: 0 1rem;
        list-style-type: none;
    }

    .logo {
        flex: 1;
        margin-right: auto;
        font-size: 1.2rem;
        color: dimgray;
        font-weight: 900;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, .3), -2px -2px 4px rgba(255, 255, 255, 1);
    }

    .navigation {
        flex: 0 0 auto;
        position: relative;
        top: 200px;
        left: 28px;
        width: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        li {
            background-color: var(--navBackground);

            margin: 1rem 0;
            padding: 0.5rem 1.5rem;
            border: 2px solid rgba(255, 255, 255, .3);
            box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, .1), -4px -4px 6px rgba(255, 255, 255, 1);
            border-radius: 10px;
            cursor: pointer;
            transition: color 0.2s ease-out, transform 0.2s ease-out;
            color: dimgray;

            &:hover {
                transform: scale(1.05);
                box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .1), -4px -4px 10px rgba(255, 255, 255, 1);
            }

            &:focus {
                transform: scale(0.95);
                box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .1), -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px 0 rgba(0, 0, 0, .1) inset, -4px -4px 10px rgba(255, 255, 255, 1) inset;
            }

            &:hover,
            &:focus {
                color: orangered;
            }
        }
    }

    .responsive {
        display: none;
    }

    .main {
        width: 80vw;
        height: auto;
        padding: 8vh 0;
        top: 22vh;
        left: 10vw;


        img {
            height: 30vh;
            width: 70vw;
        }
    }




    .info {


        .crop-info {
            width: 65vw;
        }


        .row h3 {
            font-size: 0.9rem;
        }

        .row p {

            font-size: 0.8rem;
        }


    }

}