* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Millenia";
    src: url("BordDemo-axaBa.otf") format("opentype");
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --firstprimarycolor: #ffffff;
    --navBackground: rgb(233, 233, 233);
    --navTextColor: #000000;
    --navTextHover: #cfcfcf;
    --navboxshadow: rgba(0, 0, 0, 0.07);

    --aboutbackground: rgb(233, 233, 233);
    --aboutContent: rgb(233, 233, 233);
    --abouth2: black;
    --aboutp: black;
}

section {
    width: 100%;
    height: 170vh;
    background-color: var(--aboutbackground);
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: italic;
}

.head {
    background-color: var(--aboutbackground);
}

a {
    text-decoration: none;
}

.navbar {
    z-index: 5;
    /* top: 0; */
    position: relative;
    width: 95vw;
    height: 8vh;
    background-color: var(--navBackground);
    box-shadow: 10px 10px 12px 0 var(--navboxshadow);
    border-radius: 4px 4px 1rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3rem;
    list-style-type: none;
}

.logo {
    font-family: Millenia;
    margin-right: auto;
    font-size: 1.2rem;
    color: dimgray;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
        -2px -2px 4px rgba(255, 255, 255, 1);
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    top: 0;
    left: 0;

    li {
        font-family: "Playfair Display", serif;
        font-weight: 800;
        font-style: italic;
        margin: 0 1rem;
        padding: 0.5rem 1.5rem;
        /* border: 2px solid rgba(255, 255, 255, .3); */
        /* box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, .1), -4px -4px 6px rgba(255, 255, 255, 1); */
        border-radius: 10px;
        cursor: pointer;
        transition: color 0.5s ease-out, transform 0.2s ease-out;
        color: dimgray;

        &:hover {
            transform: scale(1.05);
            /* box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .1), -4px -4px 10px rgba(255, 255, 255, 1); */
        }

        &:focus {
            transform: scale(0.95);
            /* box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .1), -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px 0 rgba(0, 0, 0, .1) inset, -4px -4px 10px rgba(255, 255, 255, 1) inset; */
        }

        &:hover,
        &:focus {
            color: orangered;
        }
    }
}

.responsive {
    display: none;
}

/* ****************************************************************************** */
.main {
    position: relative;
    width: 40vw;
    height: 130vh;
    display: flex;
    background: #ecf0f3;
    justify-content: center;
    flex-direction: column;
    top: 22vh;
    left: 30vw;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;

    img {
        height: 30vh;
        width: 30vw;
        border-radius: 2rem;
    }

    h2 {
        margin-top: 1rem;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}

/* ****************************************************************************** */
footer {
    position: relative;
    background-color: #ffffff00;
    color: #000000;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}

.flex-item {
    flex: 0 0 auto;
}

.grow {
    flex: 1;
}

.col-show {
    position: fixed;
    top: 17px;
    left: 211px;
    background-color: #ffe2e2;
    width: 1px;
    height: 1px;
    border-radius: 2rem;
}

.col-remove {
    display: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    p {
        width: 90%;
        font-weight: 500;
        font-size: 1rem;
        padding: 5px 10px;
        margin-bottom: 1rem;
    }

    .crop-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 24vw;
        border: 1px solid #ddd;
    }

    .row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .row h3,
    .row p {
        display: table-cell;
        padding: 5px 10px;
        border-bottom: 1px solid #ddd;
    }

    .row h3 {
        margin: 0;
        width: 40%;
        text-align: right;
    }

    .row p {
        margin: 0;
        width: 50%;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
}

@media only screen and (max-width: 600px) {
    .col-show {
        position: fixed;
        top: 17px;
        left: 211px;
        background-color: #ffe2e2;
        width: 171px;
        height: 425px;
        border-radius: 2rem;
    }

    .navbar {
        z-index: 5;
        top: 0;
        margin-left: 2vw;
        margin-top: 1rem;
        position: fixed;
        width: 88vw;
        height: 50px;
        background-color: var(--navBackground);
        box-shadow: 10px 10px 12px 0 var(--navboxshadow);
        border-radius: 4px 4px 1rem 1rem;
        display: flex;
        justify-content: flex-end;
        padding: 0 1rem;
        list-style-type: none;
    }

    .logo {
        flex: 1;
        margin-right: auto;
        font-size: 1.2rem;
        color: dimgray;
        font-weight: 900;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3),
            -2px -2px 4px rgba(255, 255, 255, 1);
    }

    .navigation {
        flex: 0 0 auto;
        position: relative;
        top: 200px;
        left: 28px;
        width: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        li {
            background-color: var(--navBackground);

            margin: 1rem 0;
            padding: 0.5rem 1.5rem;
            border: 2px solid rgba(255, 255, 255, 0.3);
            box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
                -4px -4px 6px rgba(255, 255, 255, 1);
            border-radius: 10px;
            cursor: pointer;
            transition: color 0.2s ease-out, transform 0.2s ease-out;
            color: dimgray;

            &:hover {
                transform: scale(1.05);
                box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
                    -4px -4px 10px rgba(255, 255, 255, 1);
            }

            &:focus {
                transform: scale(0.95);
                box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
                    -4px -4px 10px rgba(255, 255, 255, 1),
                    4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset,
                    -4px -4px 10px rgba(255, 255, 255, 1) inset;
            }

            &:hover,
            &:focus {
                color: orangered;
            }
        }
    }

    .responsive {
        display: none;
    }

    .main {
        width: 80vw;
        height: 70vh;
        top: 22vh;
        left: 10vw;

        img {
            height: 30vh;
            width: 70vw;
        }
    }
}