* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Millenia';
    src: url('BordDemo-axaBa.otf') format('opentype');
}


::-webkit-scrollbar {
    display: none;
}

:root {
    --firstprimarycolor: #ffffff;
    --navBackground:rgb(233, 233, 233);
    --navTextColor: #000000;
    --navTextHover: #cfcfcf;
    --navboxshadow: rgba(0, 0, 0, .07);

    --mainTextcolor: #fff;
    --mainlogocolor: #000000;

    --servicesBackground: #2e9400;
    --servicesTextcolor: rgb(255, 255, 255);
    --servicesTextspancolor: rgb(255, 213, 0);

    --shadow: rgba(0, 0, 0, 0.511);

    --aboutbackground: rgb(233, 233, 233);
    --aboutContent: rgb(233, 233, 233);
    --abouth2: black;
    --aboutp: black;
}

.night-theme {
    --firstprimarycolor: #000000;
    --navBackground: #000;
    --navTextColor: #ffffff;
    --navTextHover: #ffea00;
    --mainTextcolor: #ffffff;
    --mainlogocolor: #ffffff;

    --mainTextcolor: #fff;

    --servicesBackground: #2e9400;
    --servicesTextcolor: rgb(255, 255, 255);
    --servicesTextspancolor: rgb(255, 247, 0);

    --shadow: rgba(255, 255, 255, 0.511);

    --aboutbackground: rgb(0, 0, 0);
    --aboutContent: rgb(0, 0, 0);
    --abouth2: rgb(255, 255, 255);
    --aboutp: rgb(255, 255, 255);
}


section {
    width: 100%;
    height: 100vh;
    background-color: var(--aboutbackground);
    font-family: "Neuton", serif;
    font-weight: 400;
    font-style: italic;
}

.head {
    background-color: var(--aboutbackground);
}

a {
    text-decoration: none;
}

.navbar {
    z-index: 5;
    /* top: 0; */
    position: relative;
    width: 95vw;
    height: 8vh;
    background-color: var(--navBackground);
    box-shadow: 10px 10px 12px 0 var(--navboxshadow);
    border-radius: 4px 4px 1rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 3rem;
    list-style-type: none;
}

.logo {
    font-family: Millenia;
    margin-right: auto;
    font-size: 1.2rem;
    color: dimgray;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3), -2px -2px 4px rgba(255, 255, 255, 1);
}

.navigation {

    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: relative;
    top: 0;
    left: 0;

    li {
        font-family: "Playfair Display", serif;
        font-weight: 800;
        font-style: italic;
        margin: 0 1rem;
        padding: 0.5rem 1.5rem;
        /* border: 2px solid rgba(255, 255, 255, .3); */
        /* box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, .1), -4px -4px 6px rgba(255, 255, 255, 1); */
        border-radius: 10px;
        cursor: pointer;
        transition: color 0.5s ease-out, transform 0.2s ease-out;
        color: dimgray;

        &:hover {
            transform: scale(1.05);
            /* box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .1), -4px -4px 10px rgba(255, 255, 255, 1); */
        }

        &:focus {
            transform: scale(0.95);
            /* box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .1), -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px 0 rgba(0, 0, 0, .1) inset, -4px -4px 10px rgba(255, 255, 255, 1) inset; */
        }

        &:hover,
        &:focus {
            color: orangered;
        }
    }
}

.responsive {

    display: none;
}

#curr {
    /* background-color: blueviolet; */
    /* box-shadow: inset 4px 4px 6px 0 rgb(255 255 255 / 48%), inset -4px -4px 6px rgb(0 0 0 / 12%); */

    a {
        color: rgb(255, 0, 0);
    }
}

/*************************************** home **************************************/

.main {
    height: 100%;
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -60px;
    left: 0;

    h2 {
        font-size: 4rem;
        font-family: 'Millenia';
    }

    p {
        font-family: "Neuton", serif;
        font-weight: 400;
        font-style: italic;
        font-size: 1.3rem;
    }

    .imghome {

        margin-top: 6rem;
        margin-left: 2rem;

        img {
            position: relative;
            width: 985px;
        }
    }
}

.data {
    position: relative;
    top: 0;
}

/************************************** form************************************* */
.services {
    background-color: var(--servicesBackground);
    color: var(--servicesTextcolor);
    overflow: hidden;
}

.services h2 {
    font-family: 'Millenia';
    margin-top: 10vh;
    text-align: center;
    font-size: 3rem;
}

.services h2>span {
    color: var(--servicesTextspancolor);
}


.services .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15vh;
}

.services .cards .card {
    height: 40vh;
    width: 25vw;
    border-radius: 1rem;
    background-color: #2e9400;
    overflow: hidden;
    box-shadow: -5px -5px 20px #41d100, 7px 7px 15px #000000b3;
    transition: 0.3s;

    &:hover,
    &:hover .info {
        top: -120px;
        transform: scale(1.05);
        box-shadow: -5px -5px 20px #00000079, 7px 7px 15px #41d100;
    }
}

.services .cards .card img {
    height: 30vh;
    width: 25vw;
}

.services .cards .card .info {
    position: relative;
    height: 30vh;
    background-color: #2e9400;
    transition: top 0.6s;
    top: 0;

    h4 {
        font-size: 1.5rem;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
    }

    p {
        width: 320px;
        padding-left: 2rem;
    }
}

button {
    display: grid;
    margin: 1rem auto;
    align-items: center;
    height: 33px;
    width: 116px;
    font-size: 1.1rem;
    background: #ffffff;
    border: none;
    border-radius: 1rem;
    color: #444;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: -8px -8px 20px #ffffff78, 10px 10px 20px #00000085;
}

button:hover {
    box-shadow: -10px -10px 20px #0000004d, 10px 10px 20px #ffffff6b, inset 5px 5px 5px #0000004d;
}

button:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
        inset -2px -2px 4px rgba(255, 255, 255, .5),
        inset 2px 2px 2px rgba(255, 255, 255, .075),
        inset 2px 2px 4px rgba(0, 0, 0, .15);
}

/* ******************************************************************************* */
.about {
    background-color: var(--aboutbackground);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: fit-content;

}

.content {
    margin: 25vh 0 10vh 0;
    padding: 2rem;
    background-color: var(--aboutContent);
    width: 70vw;
    border-radius: 2rem;
    box-shadow: inset rgb(0 0 0 / 19%) 10px 10px 20px 0px, inset rgb(255, 255, 255) -10px -10px 20px;

    h2 {
        font-family: 'Millenia';
        color: var(--abouth2);
        font-size: 3rem;
        text-align: center;
    }

    .aboutmain {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .left,
        .right {
            width: 30vw;
            display: flex;
            flex-direction: column;
            margin-bottom: 5vh;

            div {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .image {
                    height: 100px;
                    width: 100px;
                    border-radius: 1rem;
                    box-shadow: rgb(0 0 0 / 19%) 10px 10px 20px 0px, rgb(255, 255, 255) -10px -10px 20px;

                    img {
                        height: 100px;
                        width: 100px;
                    }
                }



                .infoabout {
                    display: flex;
                    flex-direction: column;
                    margin-left: 2rem;

                    h5 {
                        font-size: 1.7rem;
                    }

                    h6 {
                        font-size: 1.5rem;
                    }
                }

            }

            .info {
                margin-top: 1rem;

                p {
                    text-wrap: pretty;
                }
            }
        }

        .vertical-ruler {
            margin-top: 1rem;
            width: 2px;
            height: 270px;
            background-color: #333;
        }
    }

}





/* ******************************************************************************* */

footer {
    position: relative;
    background-color: #ffffff00;
    color: #000000;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}

.flex-item {
    flex: 0 0 auto;
}

.grow {
    flex: 1;
}

.col-show {
    position: fixed;
    top: 17px;
    left: 211px;
    background-color: #ffe2e2;
    width: 1px;
    height: 1px;
    border-radius: 2rem;
}

.col-remove {
    display: none;
}

@media only screen and (max-width: 600px) {
    .col-show {
        z-index: 2;
        width: 171px;
        height: 425px;
    }

    .navbar {
        margin-left: 2vw;
        width: 88vw;
        height: 50px;
        padding: 0 1rem;
    }

    .logo {
        flex: 1;
        font-size: 1rem;
    }

    .navigation {
        z-index: 11;
        flex: 0 0 auto;
        position: relative;
        top: 225px;
        left: 50px;
        width: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        li {
            z-index: 11;
            background-color: var(--navBackground);
            margin-bottom: 1.3rem;

        }
    }

    .main {
        padding: 0 1rem;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 2rem;
            line-height: 3rem;
        }

        .imghome {
            margin-top: 3rem;
            img {
                position: relative;
                right: 20px;
                height: 220px;
                width: auto;
            }
        }

    }



    .services {
        height: fit-content;
        padding-bottom: 5vh;

        h2 {
            font-size: 3rem;
        }

        .cards {
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 0;
            margin-bottom: 5vh;

            .card {
                margin-top: 2rem;
                height: 38vh;
                width: 80vw;

                img {
                    width: 80vw;
                }

                .info {
                    h4 {
                        font-size: 1.5rem;
                        padding: 1rem 1rem 1rem 1rem;
                    }

                    p {
                        width: 250px;
                        padding-left: 2rem;
                    }
                }
            }
        }
    }


    .content {
        .aboutmain {
            flex-direction: column;

            .left,
            .right {
                width: fit-content;

                div {
                    .infoabout {
                        margin-left: 0.5rem;

                        h5 {
                            font-size: 1.4rem;
                        }

                        h6 {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }

        .vertical-ruler {
            display: none;
        }
    }
}